In [1]:
import numpy as np
import matplotlib as plt
import pandas as pd

In [2]:
df1 = pd.read_csv('../dataset.csv', sep='|')

In [3]:
df1.head()

,cust_id_token,current_address3,current_city,current_state,current_pin_code,permanent_address3,permanent_city,permanent_state,permanent_pin_code
0,1,NaN,JAMBI,INDONESIA,36126,NaN,CHENNAI,TAMIL NADU,600029
1,2,INJAMBAKKAM,CHENNAI,TAMIL NADU,600115,NaN,LONDON,MIDDLE SEX,HA047H
2,3,ROODEPOORT,JOHANNESBURG,GAUTENG,2169,MANDIR RMC GARDEN,PUNE,MAHARASHTRA,412207
3,4,NaN,DUBAI,DUBAI,18582,NaN,BARODA,GUJARAT,390007
4,5,NaN,SIRSA,HARYANA,125055,NaN,SIRSA,HARYANA,125055

In [4]:
for column in [1,2,3,5,6,7]:
    df1[df1.columns[column]] = df1[df1.columns[column]].str.upper()

In [5]:
df1.head()

,cust_id_token,current_address3,current_city,current_state,current_pin_code,permanent_address3,permanent_city,permanent_state,permanent_pin_code
0,1,NaN,JAMBI,INDONESIA,36126,NaN,CHENNAI,TAMIL NADU,600029
1,2,INJAMBAKKAM,CHENNAI,TAMIL NADU,600115,NaN,LONDON,MIDDLE SEX,HA047H
2,3,ROODEPOORT,JOHANNESBURG,GAUTENG,2169,MANDIR RMC GARDEN,PUNE,MAHARASHTRA,412207
3,4,NaN,DUBAI,DUBAI,18582,NaN,BARODA,GUJARAT,390007
4,5,NaN,SIRSA,HARYANA,125055,NaN,SIRSA,HARYANA,125055

In [6]:
df2 = df1[df1.columns[:5]].dropna().reset_index(drop=True)

In [7]:
df2.head()

,cust_id_token,current_address3,current_city,current_state,current_pin_code
0,2,INJAMBAKKAM,CHENNAI,TAMIL NADU,600115
1,3,ROODEPOORT,JOHANNESBURG,GAUTENG,2169
2,6,TARDEO CIRCLE PT,MUMBAI,MAHARASHTRA,400034
3,7,PRADESH,ITANAGAR,ARUNACHAL PRADESH,791111
4,10,NEAR CENTURY MALL,FUJAIRAH,FUJAIRA EMIRATES,50037

In [8]:
df_current_city = df2.groupby('current_city')

In [9]:
df_current_city.get_group('GURGAON')

,cust_id_token,current_address3,current_city,current_state,current_pin_code
50,106,GURGAON,GURGAON,HARYANA,122002
163,311,COURSE ROAD DLF PHASE 5,GURGAON,HARYANA,122008
189,362,SEC 25 MG ROAD,GURGAON,HARYANA,121104
196,376,BASEMENT) DLF PHASE IV,GURGAON,HARYANA,122002
198,379,POST DAMDAMA DAMDAMA (174),GURGAON,HARYANA,122102
208,394,SCHOOL KE PASS,GURGAON,HARYANA,122102
240,458,TOWER MANESAR,GURGAON,HARYANA,122050
256,495,RYAN INTERNATIONAL SCHOOL,GURGAON,HARYANA,122002
322,626,SECTOR 54 GOLF COURSE ROAD HARYANA,GURGAON,HARYANA,121104
323,627,DLF IV,GURGAON,HARYANA,122009
326,634,JAIPUR HIGHWAY,GURGAON,HARYANA,122001
369,697,GURGAON NR BANGLO BAR GUJAR,GURGAON,HARYANA,122004
374,708,STATION,GURGAON,HARYANA,122001
464,897,GURGAON,GURGAON,HARYANA,122018
523,997,NEAR KANSAL INDUSTRIES,GURGAON,HARYANA,122051
561,1062,GURGAON,GURGAON,HARYANA,122001
616,1179,GURGAON,GURGAON,HARYANA,122002
641,1232,YES BANK LTD,GURGAON,HARYANA,122001
743,1407,RAJEEV NAGAR,GURGAON,HARYANA,122001
778,1467,SANJHANKARPALI,GURGAON,ODISHA,767048
896,1652,0,GURGAON,WEST BENGAL,711414
913,1671,AWESTBENGALKRISHNARAMBASU,GURGAON,WEST BENGAL,743504
915,1673,R,GURGAON,WEST BENGAL,743318
943,1713,POST TEEKLI,GURGAON,HARYANA,122101
944,1716,POST TEEKLI,GURGAON,HARYANA,122101
1014,1839,TEH/ DT GURGAON NR JAWALA MILL,GURGAON,HARYANA,221002
1119,1981,NEAR GOL CHAKAR SEC-5,GURGAON,HARYANA,122001
1140,2012,OLD NAZAFGARH ROAD,GURGAON,HARYANA,122001
1172,2072,(112) SIKANDERPUR,GURGAON,HARYANA,122004
1242,2245,FARRUKHNAGAR,GURGAON,HARYANA,122001
...,...,...,...,...,...
7160563,10593794,NARSINGPUR,GURGAON,HARYANA,122001
7160576,10593813,"SUSHANT LOK 1,",GURGAON,HARYANA,122002
7160587,10593826,"DLF CITY, M.G.ROAD,",GURGAON,HARYANA,122001
7160599,10593844,"GURGAON,",GURGAON,HARYANA,122001
7160610,10593858,DLF CYBER CITY PHASE-2,GURGAON,HARYANA,122002
7160619,10593868,"DEFENCE COLONY,",GURGAON,HARYANA,122001
7160622,10593871,"JACARANDA MARG,",GURGAON,HARYANA,122002
7160631,10593881,"SOUTH CITY - I,",GURGAON,HARYANA,122002
7160658,10593922,"NEAR SHOPPING CENTRE,",GURGAON,HARYANA,122002
7160675,10593942,"DLF CITY, PHASE-II,",GURGAON,HARYANA,122002
7160689,10593960,"PHASE-1,",GURGAON,HARYANA,122002
7160698,10593972,"DLF CITY, PHASE-II,",GURGAON,HARYANA,122002
7160709,10593987,"WORLD TRADE CENTRE,PHASE II,",GURGAON,HARYANA,122002
7160713,10593991,"DLF CITY PH 2,",GURGAON,HARYANA,122002
7160723,10594006,"SECTOR - 14, OPP. ITI,",GURGAON,HARYANA,122001
7160726,10594009,"PHASE-1,",GURGAON,HARYANA,122002
7160729,10594012,"JACARANDA MARG,DLF,",GURGAON,HARYANA,122002
7160747,10594035,"SECTOR - 51,",GURGAON,HARYANA,122001
7160749,10594037,"NARSINGPUR,",GURGAON,HARYANA,122001
7160754,10594043,"DELHI GURGAON ROAD,",GURGAON,HARYANA,122015
7160757,10594046,"SOUTH CITY-1,",GURGAON,HARYANA,122002
7160764,10594057,"DLF CITY, PHASE-II,",GURGAON,HARYANA,122002
7160777,10594079,"DLF CITY,PHASE 2,",GURGAON,HARYANA,122002
7160782,10594084,"JACARANDA MARG, DLF CITY, PHASE 2,",GURGAON,HARYANA,122002
7160787,10594092,"BLOCK A , SUSHANT LOK-I, M G ROAD,",GURGAON,HARYANA,122002
7160801,10594110,"DLF CITY 2,",GURGAON,HARYANA,122002
7160842,10594184,GURGAON,GURGAON,HARYANA,122001
7160847,10594191,SECTOR 32,GURGAON,HARYANA,122001
7160930,10594327,SECTOR 50,GURGAON,HARYANA,122018
7160954,10594374,TOWER A RAHEJA SQUARE MANESAR,GURGAON,HARYANA,122001